<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-title
    [className]="classCss">
    Bienvenido {{user.name}} a {{className}} {{currentDate | datepipe: {format: 'dd/MM/yyyy'}
   
    
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>

  <ion-router-link routerLink="/login">Cerrar sesión</ion-router-link>
</ion-content>
