<ion-content>
  <div class="form-container">
    <ion-header>
      <ion-toolbar class="tool" color="danger">
        <svg width="100" height="40" xmlns="http://www.w3.org/2000/svg" class="ion-header"></svg>
        <ion-icon class="arrow" src="/assets/arrow-back-outline.svg" slot="start"></ion-icon>
      </ion-toolbar>
    </ion-header>
    <ion-title>Login</ion-title>
    <form [formGroup]="loginForm" (ngSubmit)="OnSubmit()">
      <ion-item [ngClass]="{'invalid':isEmailRequired}">
        <ion-label position="floating">Correo Electrónico
          <ion-icon class="mail" src="/assets/at-outline.svg" slot="start"></ion-icon>
        </ion-label>
        <ion-input formControlName="email" type="email" class="rounded-input"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf=" isEmailInvalid">
        <p *ngIf="isEmailRequired">El campo correo electrónico es requerido.</p>
        <p *ngIf="isEmailRequired">El formato del correo electrónico no es correcto.</p>
      </ion-text>
    
      <ion-item [ngClass]="{'invalid':isPasswordInvalid}">
        <ion-label position="floating">Contraseña
          <ion-icon class="lock" src="/assets/lock-closed-outline.svg" slot="start"></ion-icon>
        </ion-label>
        <ion-input [type]="[isPasswordInvalid]" formControlName="password" class="rounded-input">
          <ion-icon class="eye" src="/assets/eye-off-outline.svg" slot="end"></ion-icon>
        </ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="isPasswordInvalid">
        <p *ngIf= "isPasswordInvalid">El campo contraseña es requerido.</p> 
      </ion-text>
      <ion-button class="boton" color="717070" expand="block" type="submit" [disabled]="isFormInvalid">Login</ion-button>
    </form>
    
          
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
