<ion-content>
  <div class="form-container">
    <ion-header>
      <ion-toolbar class="tool" color="danger">
        <svg width="100" height="40" xmlns="http://www.w3.org/2000/svg" class="ion-header"></svg>
        <ion-icon class="arrow" src="/assets/arrow-back-outline.svg" slot="start"></ion-icon>
      </ion-toolbar>
    </ion-header>
     <ion-title>Registro</ion-title>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <ion-item [ngClass]="{'invalid': isNameRequired}">
        <ion-label position="floating">Nombres
          <ion-icon class="person" src="/assets/person-outline.svg" slot="start"></ion-icon>
        </ion-label>
        <ion-input formControlName="Name" class="rounded-input"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="isNameRequired">
        <p *ngIf="isNameRequired">El campo nombres es requerido.</p>
      </ion-text>

      <ion-item [ngClass]="{'invalid': isLastNameRequired}">
        <ion-label position="floating">Apellidos
          <ion-icon class="person" src="/assets/person-outline.svg" slot="start"></ion-icon>
        </ion-label>
        <ion-input formControlName="lastName" class="rounded-input"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="isLastNameRequired">
        <p *ngIf="isLastNameRequired">El campo apellidos es requerido.</p>
      </ion-text>

      <ion-item [ngClass]="{'invalid': isEmailInvalid}">
        <ion-label position="floating">Correo Electrónico
          <ion-icon class="mail" src="/assets/at-outline.svg" slot="start"></ion-icon>
        </ion-label>
        <ion-input formControlName="email" type="email" class="rounded-input"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="isEmailInvalid">
        <p *ngIf="isEmailInvalid">El campo correo electrónico es requerido.</p>
        <p *ngIf="isEmailInvalid">El formato del correo electrónico no es correcto.</p>
      </ion-text>

      <ion-item [ngClass]="{'invalid': isPasswordRequired}">
        <ion-label position="floating">Contraseña
          <ion-icon class="lock" src="/assets/lock-closed-outline.svg" slot="start"></ion-icon>
        </ion-label>
        <ion-input [type]="[isPasswordRequired]" formControlName="password" class="rounded-input">
          <ion-icon class="eye" src="/assets/eye-off-outline.svg" slot="end"></ion-icon>
        </ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="isPasswordRequired">
        <p *ngIf="isPasswordRequired">El campo contraseña es requerido.</p>
      </ion-text>

      <ion-item [ngClass]="{'invalid': isDniValid}">
        <ion-label position="floating">Número de Identidad
          <ion-icon class="dni" src="/assets/person-add-outline.svg" slot="start"></ion-icon>
        </ion-label>
        <ion-input formControlName="dni" type="number" class="rounded-input"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="isDniValid">
        <p *ngIf="isDniValid">El campo número de identidad es requerido.</p>
        <p *ngIf="isDniValid">El número de identidad debe tener 13 caracteres numéricos.</p>
      </ion-text>

      <ion-item [ngClass]="{'invalid': isPhoneNumberValid}">
        <ion-label position="floating">Número de Teléfono
          <ion-icon class="phone" src="/assets/call-outline.svg" slot="start"></ion-icon>
        </ion-label>
        <ion-input formControlName="phoneNumber" type="number" class="rounded-input"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="isPhoneNumberValid">
        <p *ngIf="isPhoneNumberValid">El campo número de teléfono es requerido.</p>
        <p *ngIf="isPhoneNumberValid">El número de teléfono debe tener al menos 8 caracteres numéricos.</p>
      </ion-text>
      <ion-button class="boton" color="717070" expand="block" type="submit" [disabled]="isFormValid">Registrar</ion-button>
      
    </form>
  </div>
</ion-content>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>